#nav{
    height: 100px;
    width: 100%;
    background-color: slategray;
    text-align: right;
}

#superior{
    background-color: #008000;
}

#tabla{
    background-color: lightgreen;
    border-collapse: collapse;
    width:80%;   
}

a{
    color:white;
    padding: 8px;
}

tr{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

td{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

